<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />
<f:section name="content">
<title>{page_title}</title>
<meta name="description" content="{meta_description}">
<meta property="og:image" content="{og_image}">
<meta property="og:title" content="{og_title}">
<meta property="og:description" content="{og_description}">
<meta property="og:url" content="{og_url}">
<meta property="og:site_name" content="{og_site_name}">
</f:section>
</html>